<h3>Create a list!</h3>

<form action="/lists" method="post">
  <div class="form-group">
    <input required class="form-control" require id='list_name' name='list_name' type='text'>
  </div>
  <button class="btn btn-success btn-lg" type="submit">Create</button>
</form>
